fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
prisma
pydantic
openai
requests
google-generativeai
chromadb
PyPDF2
qdrant-client

sentence-transformers
apscheduler
pydantic[email]
gunicorn

